
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 12);
    background: 
        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)),
        url(imgs/morena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 5%;
}

#social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    transition: .4s;
}

#social img {
    width: 35px;
}

#social a:hover {
    color: rgb(211, 211, 211);
    text-decoration: underline;
}

#title {
    font-family: 'young serif', serif;
}

#title h1 {
    text-align: center;
    font-size: 70px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    color: red;
}

#text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    text-align: center;
    color: whitesmoke;
}

#text p {
    font-size: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

#buttonCTA {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonCTA a {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid white;
    padding: 10px;
    text-transform: uppercase;
    gap: 10px;
    transition: .4s;
}

#buttonCTA > a > i {
    position: relative;
    animation: arrowmove infinite alternate 1s;
}

#buttonCTA a:hover {
    border-radius: 13px;
    border-color: red;
} 

@keyframes arrowmove {
    from {
        left: 0px;
    }

    to {
        left: 3px;
    }
}

@media screen and (max-width:768px){
    body {
        background-color: red;
        background: 
        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)),
        url(imgs/loira.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #title h1 {
        text-align: center;
        font-size: 50px;
        text-shadow: 10px 10px 1px solid rgba(0, 0, 0, 0.4); 
        color: rgb(255, 0, 0);
    }

    #text {
        width: 78%;
    }

    #buttonCTA a {
        color: white;
    }
}