
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 12);
    background: 
        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)),
        url(imgs/morena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 5%;
}

#social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    transition: .4s;
}

#social img {
    width: 35px;
}

#social a:hover {
    color: rgb(211, 211, 211);
    text-decoration: underline;
}

#title {
    font-family: 'young serif', serif;
}

#title h1 {
    text-align: center;
    font-size: 70px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: red;
}

#text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    text-align: center;
    color: whitesmoke;
}

#text p {
    font-size: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

#imgsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

#imgsBlock p {
    color: rgb(115, 115, 115);
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 0;
}

#imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 250px;
    gap: 7vw;
    overflow: hidden;
    position: relative;
}

.foto-container {
    position: relative;
    width: 27vw;
    max-height: 250px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.modelo {
    width: 100%; /* Preenche toda a largura do contêiner */
    height: 100%; /* Preenche toda a altura do contêiner */
    object-fit: cover; /* Garante que a imagem preencha proporcionalmente o espaço */
    object-position: center; /* Centraliza o foco no meio da imagem */
    border-radius: 10px;
    filter: blur(2px);
}

.cadeado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Ajusta o tamanho do cadeado conforme necessário */
    z-index: 2;
    pointer-events: none; /* O clique não afeta o cadeado, apenas o link da imagem */
}

#buttonCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#buttonCTA a {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px;
    border: 2px solid rgb(78, 1, 1);
    border-radius: 5px;
    color: whitesmoke;
    background-color: red;
    gap: 10px;
    transition: .4s;
}

#buttonCTA > a > i {
    position: relative;
    animation: arrowmove infinite alternate .4s;
}

#buttonCTA a:hover {
    border-radius: 13px;
    border-color: white;
}

#buttonCTA #aviso {
    font-size: 10px;
    color: rgba(255, 255, 0, 0.5);
}

@keyframes arrowmove {
    from {
        left: 0px;
    }

    to {
        left: 4px;
    }
}

@media screen and (max-width:768px){
    
    /*body {
        background-color: red;
        background: 
        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)),
        url(imgs/loira.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #title h1 {
        text-align: center;
        font-size: 50px;
        text-shadow: 10px 10px 1px solid rgba(0, 0, 0, 0.4); 
    }

    #text {
        width: 78%;
    }

    #buttonCTA a {
        color: white;
    }*/
}